body {
  margin: 0;
  overflow-x: hidden;
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.logo {
  width: 111px;
  height: 74px;
}

.menu {
  width: 20px;
  height: 14px;
  margin-right: 30px;
}

@media only screen and (max-width: 991px) {
  .banner2,
  .dots,
  .desktop-heading,
  .more-dots,
  .semicircle,
  .two-squares,
  .diamond,
  .shapes,
  .yellow-tear,
  .dots-with-teal,
  .geometry2,
  .geometry3 {
    display: none;
  }
}

@media only screen and (max-width: 424px) {
  .menu-items,
  .menu-open {
    display: none;
  }

  .show {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    top: 0;
    height: 100%;
  }

  .menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
  }

  .menu-top-image {
    width: 75vw;
    height: auto;
  }

  .close {
    margin-right: 30px;
  }

  .mobile-menu {
    padding: 0;
  }

  .mobile-menu-item {
    color: black;
    list-style: none;
    text-align: center;
    font-size: 20px;
    padding: 20px 0;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .menu-bottom {
    width: 100vw;
    height: auto;
  }

  .project-name,
  .project-buttons,
  .button-width-class,
  .about-heading,
  .about,
  .cv,
  .languages,
  .frameworks,
  .skills {
    width: 288px;
  }

  .popup {
    margin: 10px;
  }

  .close-icon {
    float: right;
    margin-right: 20px;
  }

  .popup-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-top: 30px;
  }

  .popup-list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .popup-list-item {
    border: 2px solid #7d7c84;
    color: #7d7c84;
    padding: 5px;
    margin: 5px;
    margin-left: 0;
    font-size: 15px;
  }

  .popup-list-item2 {
    min-width: 100px;
  }

  .slideshow {
    background-image: url('./images/computer-image2.png');
    background-size: 97%;
    height: 200px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 97vw;
  }

  .arrow {
    margin-right: 10px;
  }

  .slides {
    display:flex;
  }

  .slide {
    width: 24.25%;
  }
  .languages,
  .frameworks,
  .skills {
    height: 288px;
  }

  input {
    min-width: 285px;
    max-width: 285px;
  }

  form {
    flex-direction: column;
    width: 288px;
  }
}

.headline {
  display: flex;
  flex-wrap: wrap;
  padding: 6px;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
}

.name {
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  font-size: 50px;
  flex-basis: 288px;
  flex-shrink: 1;
}

.intro {
  font-family: 'Poppins', 'Playfair Display', 'Times New Roman', Times, serif;
  font-size: 14px;
  flex-basis: 288px;
  flex-shrink: 1;
}

.collaboration {
  flex-basis: 288px;
  flex-shrink: 1;
  height: 50px;
  background-color: #1a2236;
  color: white;
  font-family: 'Poppins', 'Playfair Display', 'Times New Roman', Times, serif;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 30px;
  border-color: #1a2236;
}

.banner {
  width: 100vw;
  height: auto;
}

.collaboration:hover {
  background-color: #1d0683;
  transition: background-color 2s 0s;
}

.about-heading,
.project-heading {
  font-family: 'Playfair Display', sans-serif;
}

.project-name,
.buttons,
.about,
.languages-heading,
.frameworks-heading,
.skills-heading,
li,
p {
  font-family: 'Poppins', 'Playfair Display', 'Times New Roman', Times, serif;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.project-heading {
  width: 288px;
  font-size: 50px;
  margin: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
}

.project {
  background-color: #1a2236;
}

.project-name {
  color: white;
  font-size: 25px;
  margin-bottom: 15px;
}

.project-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.computer-image {
  width: 100vw;
  height: auto;
}

.project-buttons {
  display: flex;
}

.buttons {
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
  background-color: #98dede;
  color: black;
  min-height: 25px;
  border: 2px solid #98dede;
  font-size: 12px;
  flex-basis: auto;
}

.buttons:hover {
  background-color: #4fb8b8;
  border: 2px solid #4fb8b8;
}

.see-project {
  background-color: #1a2236;
  color: white;
  border: 2px solid white;
  width: 200px;
  height: 50px;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.see-project:hover {
  background-color: white;
  transition: background-color 2s, color 2s;
  color: #1a2236;
}

.about-heading {
  font-size: 50px;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.skills-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.languages,
.frameworks,
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.languages {
  background-image: url(./images/languages.png);
  background-position: 100% 100%;
}

.languages-heading,
.frameworks-heading,
.skills-heading,
.skills-list {
  color: white;
}

.languages-heading,
.frameworks-heading,
.skills-heading {
  width: 178px;
  font-size: 25px;
}

ul {
  width: 178px;
}

.frameworks {
  background-image: url(./images/frameworks.png);
  background-position: 100% 100%;
}

.skills {
  background-image: url(./images/skills.png);
  background-position: 100% 100%;
}

.cv {
  padding: 10px;
  background-color: #1a2236;
  color: white;
  border: 2px solid #1a2236;
  margin-top: 30px;
  font-size: 15px;
}

.cv:hover {
  background-color: #1d0683;
  transition: background-color 2s 0s;
}

.contact-form {
  background-color: #f9f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.geometry {
  margin-right: auto;
}

.contact-heading {
  padding: 75px 0 20px;
  font-size: 50px;
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
}

.contact-paragraph {
  margin-bottom: 50px;
}

.contact-heading,
.contact-paragraph {
  width: 288px;
}

input {
  max-width: 288px;
}

textarea,
input {
  border: 1px solid white;
  padding: 15px 16px 0;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.input-box {
  background-color: white;
  border: 1px solid #dfdfe0;
  max-width: 285px;
  margin-bottom: 15px;
}

label {
  font-size: 10px;
  color: #7d7c84;
  padding: 16px;
  font-family: 'Poppins', sans-serif;
}

textarea {
  min-width: 285px;
  height: 112px;
  border: 1px solid #dfdfe0;
  font-family: 'Poppins', sans-serif;
}

textarea::placeholder {
  font-family: "Poppins", sans-serif;
}

.form {
  display: flex;
}

.form-button {
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background-color: #1a2236;
  color: white;
  border: 1px solid #1a2236;
  margin-bottom: 74px;
}

.form-button:hover {
  background-color: #1d0683;
}

.socials {
  background-color: #1a2236;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-resume {
  color: #92dcdc;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin-right: 15px;
}

.resume {
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: 288px;
}

.socials-icons {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 288px;
  padding: 15px 0;
}

@media only screen and (min-width: 425px) and (max-width: 991px) {
  .headline {
    margin-left: 12vw;
  }

  form {
    flex-direction: column;
    width: 288px;
  }
}

@media only screen and (min-width: 425px) {
  .mobile-header {
    display: none;
  }

  .menu-items {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 99;
  }

  .menu-item {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
    margin: 38px;
  }

  .menu-item:hover {
    text-decoration: underline;
  }

  .headline {
    flex-wrap: nowrap;
    flex-direction: column;
    flex-shrink: 2;
    flex-basis: auto;
    align-items: center;
    width: 75vw;
    margin-top: 100px;
  }

  .intro {
    flex-basis: auto;
  }

  .name {
    font-size: 60px;
    flex-basis: auto;
    margin-bottom: 20px;
  }

  .languages,
  .frameworks,
  .skills {
    margin: 0;
    width: 250px;
    height: 250px;
    flex-shrink: 1;
  }

  .collaboration {
    margin-top: 20px;
  }
}

@media (min-width: 992px) {
  .mobile-header,
  .banner {
    display: none;
  }

  .top {
    display: flex;
    justify-content: right;
    margin-bottom: 100px;
    width: 100vw;
    height: auto;
  }

  .collaboration,
  .name,
  .intro {
    flex-basis: auto;
    max-width: 484px;
  }

  .name {
    font-size: 90px;
    margin: 70px 0;
  }

  .intro {
    font-size: 14px;
  }

  .button-container {
    width: 484px;
  }

  .collaboration {
    width: 288px;
    margin-top: 70px;
  }

  .banner2 {
    width: 50vw;
    height: auto;
    margin-top: 100px;
  }

  .dots {
    align-self: flex-end;
    width: 20%;
    height: auto;
    margin-top: auto;
  }

  .flex-container {
    display: none;
  }

  .grid-container {
    grid-template-columns: repeat(18, 5.5555%);
  }

  .project {
    display: grid;
  }

  .project1 {
    grid-template-columns: repeat(12, 5.5555%);
    grid-column: 7/19;
    grid-row: 1/11;
  }

  .desktop-heading {
    font-size: 110px;
    grid-column: 3/5;
    grid-row: 1/ span 8;
    transform: rotate(-90deg);
    margin-top: 200px;
    z-index: -1;
  }

  .more-dots {
    grid-column: 5/7;
    grid-row: 1/3;
    width: 11.1111vw;
    height: auto;
  }

  .computer-image1 {
    grid-column: 1/13;
    grid-row: 1/11;
    width: 66.6666vw;
    height: auto;
  }

  .project-link1 {
    grid-column: 1/13;
    grid-row: 5/11;
    background-color: #1a2236;
    width: 66.6666vw;
    display: flex;
    padding-left: 5%;
  }

  .project-name1 {
    font-size: 60px;
    max-width: 764px;
    align-self: stretch;
  }

  .project-button-flex {
    align-self: stretch;
  }

  .project-buttons1 {
    max-width: 764px;
  }

  .buttons1 {
    font-size: 20px;
  }

  .button-width-class1 {
    max-width: 726px;
    align-self: flex-start;
  }

  .semicircle {
    grid-column: 7/13;
    grid-row: 11/15;
    width: 100%;
    height: 100%;
    border-top: 2px solid #1a2236;
  }

  .two-squares {
    grid-row: 17/19;
    grid-column: 15/19;
    width: 100%;
    height: auto;
  }

  .diamond {
    grid-column: 11/13;
    grid-row: 18/20;
    width: 100%;
    height: auto;
  }

  .shapes {
    grid-column: 1/5;
    grid-row: 20/22;
  }

  .yellow-tear {
    grid-column: 10/12;
    grid-row: 20/22;
  }

  .project6 {
    display: grid;
    grid-column: 13/19;
    grid-row: 11/14;
  }

  .computer-image6 {
    width: 33.3333vw;
    height: auto;
    grid-column: 13/19;
    grid-row: 11/14;
  }

  .project-link6 {
    grid-column: 13/19;
    grid-row: 12/14;
    background-color: #1a2236;
  }

  .project2 {
    grid-column: 1/7;
    grid-row: 12/15;
    background-color: white;
  }

  .project3 {
    grid-column: 1/11;
    grid-row: 15/20;
  }

  .computer-image2,
  .computer-image3,
  .computer-image4,
  .computer-image5 {
    width: 100%;
    height: 100%;
  }

  .project4 {
    grid-column: 11/17;
    grid-row: 20/24;
    background-color: white;
  }

  .project5 {
    grid-column: 13/19;
    grid-row: 14/17;
    background-color: white;
  }

  .project-link2,
  .project-link3,
  .project-link4,
  .project-link5 {
    display: none;
  }

  .about-and-skills {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 75px;
  }

  .about-section {
    display: flex;
    flex-direction: column;
  }

  .about-heading {
    font-size: 110px;
    width: 446px;
  }

  .about {
    font-size: 14px;
    max-width: 446px;
  }

  .cv {
    align-self: flex-start;
    max-width: 288px;
    padding: 15px 50px;
  }

  .skills-section {
    width: 600px;
    justify-content: left;
  }

  .container1,
  .container2 {
    display: flex;
  }

  .dots-with-teal {
    height: 200px;
    width: auto;
    margin-left: 100px;
    margin-top: 100px;
  }

  .geometry {
    display: none;
  }

  .geometry2 {
    position: absolute;
    left: 0;
    width: 150px;
    z-index: 0;
  }

  .geometry3 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
  }

  .contact-form {
    width: 100vw;
    position: relative;
  }

  .contact-heading {
    width: 548px;
    font-size: 110px;
  }

  .contact-paragraph {
    width: 548px;
    font-size: 14px;
  }

  .input-box {
    display: flex;
    flex-direction: column;
  }

  input,
  .input-box {
    width: 254px;
  }

  label {
    padding: 5px 15px;
  }

  form {
    width: 548px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  textarea {
    width: 548px;
  }

  .form-button {
    width: 254px;
    margin: auto;
    margin-bottom: 30px;
  }

  .resume {
    margin: 0 20px;
  }

  .socials {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .socials-icons {
    margin: 0 20px;
  }
}
