body {
  width: 320px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
}

.logo {
  width: 111px;
  height: 74px;
}

.menu {
  width: 20px;
  height: 14px;
}

.headline {
  display: flex;
  flex-direction: column;
  padding: 6px;
  align-items: center;
}

.name {
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  font-size: 50px;
  width: 288px;
}

.intro {
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  width: 288px;
  font-size: 14px;
}

button {
  width: 288px;
  height: 50px;
  background-color: #1a2236;
  color: white;
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 30px;
}

button:hover {
  background-color: #0f1420;
}

button:enabled {
  background-color: #000000;
}

button:disabled {
  background-color: #1a2236;
}