header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
}

.logo {
  width: 111px;
  height: 74px;
}

.menu {
  width: 20px;
  height: 14px;
}

.headline {
  display: flex;
  flex-direction: column;
  padding: 6px;
}

.name {
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  font-size: 50px;
  min-width: 220px;
}

.intro {
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  min-width: 288px;
  font-size: 14px;
}

button {
  width: 288px;
  height: 50px;
  align-self: center;
  background-color: #1A2236;
  color: white;
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  font-size: 16px;
  margin: 16px;
}